.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container{
  display:grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 570px 570px;  
  grid-template-rows: 1fr 1fr 1fr;  
}

#text{
  position: relative;
  grid-row-start: 2;
  width: 500px;
  height: 500px;
  width: 500px;;
}

#paragraph{
  color: black;
  font-size: 60px;
  font-weight: 700;
  width: 500px;
  height: 144px;
  display: block;

}

.btn-light{
  position:absolute;
  display: inline-block;
  bottom: 100px;
  width: 200px;
  height: 60px;
}

.btn-outline-light{
  position:absolute;
  display: inline-block;
  bottom: 100px;
  left: 220px;
  width: 200px;
  height: 60px;
}

#title{
  width: 100%;
  height: 100vh;
}

.bi-apple{
  margin-right:10px ;
  height: 40px;
  width: 30px;
  padding-bottom: 4px; 
}
.bi-google-play{
  margin-right:10px ;
  height: 40px;
  width: 30px;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.img{
  display: flex;
  grid-column: 2/6;
  grid-row: 1/4;
  justify-content: center;
}

img{
  height: 90%;
  margin-top: 11%;
}

.px-4 {
grid-column: 1/-1;
width: 100%;
}

.row-cols-lg-3{
  width: 90vw;
}

.svg{
  width:20px;
}

.features{
  display: inline-block;
  width: 30%;
  position: absolute;
}

.hh{
  position: relative;
  margin-bottom: 0px;
  display: inline-block;
  height: 50px;
  left: 20px;
}

.features-container{
  position: relative;
  height: 100px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 2fr 1fr;
  margin-left: 5%;
}
.img-2{
position: relative;
width: 40px;
top: 1px;
margin: 0px;
}

.hat{
  left: 380px;
}

.heart{
  left: 760px;
}

.para{ 
  position: relative;
  display: inline-block;
  margin-left: 50px;
  left: 20px;
}

#heart{
  margin-top: 0px;
  position: relative;
  top: -30px;
}

.testimonialcont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  background-color: rgb(248, 249, 250);
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

.dog{
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 30px;
  width: 90%;
  text-align: center;
  font-weight: 700;
  padding-left: 80px;
}

.testimonialimg{
  position: relative;
  height: 150px;
  grid-column: 2/4;
  grid-row-start: 2;
  margin-bottom: 30px;
  left :250px;
  bottom: 35px;
}

.testimonialimg > img{
  border-radius: 50%;
}

.testimonialimg > p{
  font-size: 20px;
  padding-right: 20px;
  font-weight: 100;
}

.testimoniallogoone {
  position: relative;
  width: auto;
  height: 30px;
  grid-column: 1/2;
  grid-row-start: 3;
  padding-left: 50px;
  padding-top: 50px;
}

.testimoniallogotwo {
  position: relative;
  width: auto;
  height: 30px;
  grid-column: 2/3;
  padding-left: 50px;
  padding-top: 50px;
}
.testimoniallogothree{
  position: relative;
  width: auto;
  height: 30px;
  grid-column: 3/4;
  padding-left: 50px;
  padding-top: 50px;
}

.testimoniallogofour{
  position: relative;
  width: auto;
  height: 30px;
  grid-column: 4/5;
  padding-left: 100px;
  padding-top: 50px;
}

.testimoniallogoone > img{
width: auto;
height: 40px;
}

.testimoniallogotwo >img{
  width: auto;
height: 40px;
}
.testimoniallogothree >img{
  width: auto;
height: 40px;
}

.testimoniallogofour >img{
  width: auto;
height: 40px;
}

.card{
  width: 350px;
  padding-left: 0px;
  padding-right: 0px;
}

.col{
  width: 400px;
    padding-left: 0px;
  padding-right: 0px;
}

.row{
  margin: 0px;
  display: flex;
  justify-content: center;
}

.card-header{
  background-color: rgb(33, 37, 41);
}

#foot{
  margin: 0px;
  height: 300px;
  display: grid;
}

#firstcol{
  padding-top: 50px;
}

#seccol{
  padding-top: 50px;
}

#thirdcol{
  padding-top: 50px;
}

.tindog{
    padding-top: 50px;
}
